<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Image Processing API: Main Page</title>
</head>

<body>
    <div>
        <!-- If resized images -->
        <% if (new_images) { %>
            <!-- show -->
            <img src="http://localhost:3000/images/<%= new_images %>" alt="full-<%= new_images %>" />
            <% } %>
    </div>

</body>

</html>