<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Image Processing API: Udacity</title>
</head>

<body>
    <% if (new_images) { %>
        <!-- Show new_images -->
        <img src="http://localhost:3000/images/new_images/<%= new_images %>" alt="resized image" width="<%= width %>"
            height="<%= height %>" />
        <% } %>
</body>

</html>